.nav-container {
    background: #f6f6f6;
    border-bottom: 1px solid #585858;
}
.menu {
    list-style-type: none;
    margin:0px;
}

.menu li {
    display: inline-block;
    padding: 5px 10px;
}

.menu li a {
    color: #585858;
}